.past-orders-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  padding-top: 70px;
  flex-direction: column;
}
.past-orders-navbar {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-pallet-green);
}
.past-orders-header {
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.past-orders-navbar1 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.past-orders-container01 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.past-orders-navlink {
  display: contents;
}
.past-orders-image {
  width: 24px;
  height: 24px;
  z-index: 100;
  margin-right: -32px;
  text-decoration: none;
}
.past-orders-textinput {
  width: 100%;
  max-width: var(--dl-size-size-xxlarge);
  transition: 0.3s;
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  padding-left: var(--dl-space-space-threeunits);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.past-orders-textinput:hover {
  border-color: var(--dl-color-pallet-yellow);
}
.past-orders-middle {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: center;
}
.past-orders-left {
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
}
.past-orders-logo-center {
  text-decoration: none;
}
.past-orders-right {
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
}
.past-orders-icons {
  display: flex;
}
.past-orders-navlink1 {
  display: contents;
}
.past-orders-image1 {
  width: 24px;
  height: 24px;
  margin: 0 24px 0 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  text-decoration: none;
}
.past-orders-image2 {
  width: 24px;
  height: 24px;
  margin: 0 24px 0 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.past-orders-image3 {
  width: 24px;
  height: 24px;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.past-orders-burger-menu {
  display: none;
}
.past-orders-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.past-orders-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.past-orders-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.past-orders-container02 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.past-orders-logo-center1 {
  color: var(--dl-color-gray-black);
  height: auto;
  font-size: 24px;
  font-family: Jost;
  font-weight: 500;
  line-height: 20px;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  letter-spacing: 0.4em;
  text-decoration: none;
}
.past-orders-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.past-orders-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.past-orders-middle1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.past-orders-text06 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.past-orders-text07 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.past-orders-text08 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.past-orders-text09 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.past-orders-text10 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.past-orders-text11 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.past-orders-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.past-orders-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.past-orders-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.past-orders-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
}
.past-orders-speakers {
  height: 354px;
  display: flex;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.past-orders-max-width {
  flex-direction: column;
}
.past-orders-heading-container {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
}
.past-orders-text12 {
  height: 51px;
  text-align: center;
}
.past-orders-speakers-container {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: grid;
  position: relative;
  grid-row-gap: var(--dl-space-space-fourunits);
  grid-column-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.past-orders-text13 {
  color: var(--dl-color-scheme-darkgray);
  font-size: 16px;
  text-align: center;
  font-family: "Jost";
  font-weight: 400;
  letter-spacing: 0.02px;
  text-transform: none;
  text-decoration: none;
}
.past-orders-container03 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.past-orders-container04 {
  width: 1078px;
  height: 188px;
  display: flex;
  align-items: flex-start;
}
.past-orders-container05 {
  flex: 0 0 auto;
  width: 559px;
  height: 128px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
}
.past-orders-text15 {
  align-self: center;
}
.past-orders-container06 {
  flex: 0 0 auto;
  width: 467px;
  height: 128px;
  display: flex;
  flex-direction: column;
}
.past-orders-container07 {
  flex: 0 0 auto;
  width: 405px;
  height: 68px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.past-orders-navlink2 {
  top: 0px;
  right: 0px;
  position: absolute;
  text-decoration: none;
}
.past-orders-container08 {
  width: 406px;
  height: 50%;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.past-orders-navlink3 {
  top: 0px;
  right: 0px;
  width: 170px;
  position: absolute;
  text-decoration: none;
}
.past-orders-footer {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-950);
  border-width: 1px;
  flex-direction: column;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.past-orders-footer1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: space-between;
}
.past-orders-container09 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.past-orders-text16 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.past-orders-text17 {
  color: var(--dl-color-gray-black50);
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.past-orders-text18 {
  color: var(--dl-color-gray-black50);
  margin-top: var(--dl-space-space-twounits);
}
.past-orders-text19 {
  color: var(--dl-color-gray-black50);
  margin-top: 12px;
}
.past-orders-links-container {
  display: flex;
  grid-gap: var(--dl-space-space-threeunits);
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.past-orders-container10 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.past-orders-text20 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
.past-orders-text21 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.past-orders-text22 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.past-orders-text23 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.past-orders-text24 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.past-orders-text25 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.past-orders-text26 {
  color: var(--dl-color-gray-black50);
}
.past-orders-container11 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.past-orders-text27 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
.past-orders-text28 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.past-orders-text29 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.past-orders-text30 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.past-orders-text31 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.past-orders-text32 {
  color: var(--dl-color-gray-black50);
}
.past-orders-container12 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.past-orders-text33 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
.past-orders-text34 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.past-orders-navlink4 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.past-orders-navlink5 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.past-orders-text35 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
@media(max-width: 991px) {
  .past-orders-container01 {
    display: none;
  }
  .past-orders-left {
    display: none;
  }
  .past-orders-right {
    display: none;
  }
  .past-orders-icons {
    display: none;
  }
  .past-orders-burger-menu {
    display: flex;
  }
  .past-orders-icon {
    width: 24px;
    height: 24px;
    display: flex;
  }
  .past-orders-logo-center1 {
    margin-left: 0px;
  }
  .past-orders-speakers-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .past-orders-footer1 {
    flex-direction: column-reverse;
  }
  .past-orders-links-container {
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .past-orders-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .past-orders-main {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .past-orders-speakers-container {
    grid-template-columns: 1fr 1fr;
  }
  .past-orders-footer1 {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .past-orders-links-container {
    margin-top: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .past-orders-container {
    padding-top: 55px;
  }
  .past-orders-header {
    padding: var(--dl-space-space-unit);
  }
  .past-orders-mobile-menu {
    padding: 16px;
  }
  .past-orders-speakers-container {
    grid-template-columns: 1fr;
  }
  .past-orders-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .past-orders-links-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .past-orders-container10 {
    margin-right: var(--dl-space-space-unit);
  }
  .past-orders-container11 {
    margin-right: var(--dl-space-space-unit);
  }
}
