.product-info-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  padding-top: 70px;
  flex-direction: column;
}
.product-info-navbar {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-pallet-green);
}
.product-info-header {
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.product-info-navbar1 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.product-info-container01 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-info-navlink {
  display: contents;
}
.product-info-image {
  width: 24px;
  height: 24px;
  z-index: 100;
  margin-right: -32px;
  text-decoration: none;
}
.product-info-textinput {
  width: 100%;
  max-width: var(--dl-size-size-xxlarge);
  transition: 0.3s;
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  padding-left: var(--dl-space-space-threeunits);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.product-info-textinput:hover {
  border-color: var(--dl-color-pallet-yellow);
}
.product-info-middle {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: center;
}
.product-info-left {
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
}
.product-info-logo-center {
  text-decoration: none;
}
.product-info-right {
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
}
.product-info-icons {
  display: flex;
}
.product-info-navlink1 {
  display: contents;
}
.product-info-image1 {
  width: 24px;
  height: 24px;
  margin: 0 24px 0 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  text-decoration: none;
}
.product-info-image2 {
  width: 24px;
  height: 24px;
  margin: 0 24px 0 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.product-info-image3 {
  width: 24px;
  height: 24px;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.product-info-burger-menu {
  display: none;
}
.product-info-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.product-info-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.product-info-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.product-info-container02 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.product-info-logo-center1 {
  color: var(--dl-color-gray-black);
  height: auto;
  font-size: 24px;
  font-family: Jost;
  font-weight: 500;
  line-height: 20px;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  letter-spacing: 0.4em;
  text-decoration: none;
}
.product-info-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-info-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.product-info-middle1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.product-info-text06 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.product-info-text07 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.product-info-text08 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.product-info-text09 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.product-info-text10 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.product-info-text11 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.product-info-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.product-info-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.product-info-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.product-info-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
}
.product-info-trending-items {
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
}
.product-info-feature1 {
  width: 100%;
  height: 784px;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.product-info-container03 {
  flex: 0 0 auto;
  width: 540px;
  height: 540px;
  display: flex;
  overflow: hidden;
  align-self: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-purple-100);
}
.product-info-image4 {
  width: 128px;
  height: 283px;
  margin-top: 100px;
  object-fit: cover;
}
.product-info-container04 {
  flex: 0 0 auto;
  width: 360px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.product-info-container05 {
  flex: 0 0 auto;
  width: 360px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.product-info-container06 {
  flex: 0 0 auto;
  width: 100%;
  height: 174px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.product-info-container07 {
  flex: 1;
  width: 278px;
  margin: var(--dl-space-space-doubleunit);
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  animation-name: none;
  flex-direction: column;
  animation-delay: 0s;
  justify-content: flex-start;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.product-info-text13 {
  color: var(--dl-color-scheme-darkgray);
  max-width: 400px;
  margin-top: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-doubleunit);
}
.product-info-navlink2 {
  text-decoration: none;
}
.product-info-container08 {
  flex: 0 0 auto;
  width: 360px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.product-info-container09 {
  width: 100%;
  height: 105px;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  flex-direction: column;
  justify-content: flex-end;
}
.product-info-text15 {
  color: var(--dl-color-scheme-darkgray);
  font-size: 18px;
  max-width: 400px;
  align-self: center;
  margin-top: var(--dl-space-space-doubleunit);
  text-align: center;
  font-family: "Inter";
  font-weight: 400;
  line-height: 1.77;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-transform: none;
  text-decoration: none;
}
.product-info-footer {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-950);
  border-width: 1px;
  flex-direction: column;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.product-info-footer1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: space-between;
}
.product-info-container10 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.product-info-text16 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.product-info-text17 {
  color: var(--dl-color-gray-black50);
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.product-info-text18 {
  color: var(--dl-color-gray-black50);
  margin-top: var(--dl-space-space-twounits);
}
.product-info-text19 {
  color: var(--dl-color-gray-black50);
  margin-top: 12px;
}
.product-info-links-container {
  display: flex;
  grid-gap: var(--dl-space-space-threeunits);
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.product-info-container11 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.product-info-text20 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
.product-info-text21 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.product-info-text22 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.product-info-text23 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.product-info-text24 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.product-info-text25 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.product-info-text26 {
  color: var(--dl-color-gray-black50);
}
.product-info-container12 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.product-info-text27 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
.product-info-text28 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.product-info-text29 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.product-info-text30 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.product-info-text31 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.product-info-text32 {
  color: var(--dl-color-gray-black50);
}
.product-info-container13 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.product-info-text33 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
.product-info-text34 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.product-info-navlink3 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.product-info-navlink4 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.product-info-text35 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
@media(max-width: 991px) {
  .product-info-container01 {
    display: none;
  }
  .product-info-left {
    display: none;
  }
  .product-info-right {
    display: none;
  }
  .product-info-icons {
    display: none;
  }
  .product-info-burger-menu {
    display: flex;
  }
  .product-info-icon {
    width: 24px;
    height: 24px;
    display: flex;
  }
  .product-info-logo-center1 {
    margin-left: 0px;
  }
  .product-info-feature1 {
    flex-direction: column;
  }
  .product-info-container07 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .product-info-footer1 {
    flex-direction: column-reverse;
  }
  .product-info-links-container {
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .product-info-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .product-info-main {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .product-info-footer1 {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .product-info-links-container {
    margin-top: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .product-info-container {
    padding-top: 55px;
  }
  .product-info-header {
    padding: var(--dl-space-space-unit);
  }
  .product-info-mobile-menu {
    padding: 16px;
  }
  .product-info-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .product-info-links-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .product-info-container11 {
    margin-right: var(--dl-space-space-unit);
  }
  .product-info-container12 {
    margin-right: var(--dl-space-space-unit);
  }
}
