.search-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  padding-top: 70px;
  flex-direction: column;
}
.search-navbar {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-pallet-green);
}
.search-header {
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.search-navbar1 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.search-container1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-navlink {
  display: contents;
}
.search-image {
  width: 24px;
  height: 24px;
  z-index: 100;
  margin-right: -32px;
  text-decoration: none;
}
.search-textinput {
  width: 100%;
  max-width: var(--dl-size-size-xxlarge);
  transition: 0.3s;
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  padding-left: var(--dl-space-space-threeunits);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.search-textinput:hover {
  border-color: var(--dl-color-pallet-yellow);
}
.search-middle {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: center;
}
.search-left {
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
}
.search-logo-center {
  text-decoration: none;
}
.search-right {
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
}
.search-icons {
  display: flex;
}
.search-navlink1 {
  display: contents;
}
.search-image1 {
  width: 24px;
  height: 24px;
  margin: 0 24px 0 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  text-decoration: none;
}
.search-image2 {
  width: 24px;
  height: 24px;
  margin: 0 24px 0 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.search-image3 {
  width: 24px;
  height: 24px;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.search-burger-menu {
  display: none;
}
.search-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.search-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.search-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.search-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.search-logo-center1 {
  color: var(--dl-color-gray-black);
  height: auto;
  font-size: 24px;
  font-family: Jost;
  font-weight: 500;
  line-height: 20px;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  letter-spacing: 0.4em;
  text-decoration: none;
}
.search-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.search-middle1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.search-text06 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.search-text07 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.search-text08 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.search-text09 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.search-text10 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.search-text11 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.search-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.search-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.search-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.search-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
}
.search-speakers {
  display: flex;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.search-max-width {
  flex-direction: column;
}
.search-heading-container {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
}
.search-text12 {
  height: 140px;
  text-align: center;
}
.search-speakers-container {
  width: 100%;
  display: grid;
  position: relative;
  grid-row-gap: var(--dl-space-space-fourunits);
  grid-column-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.search-component {
  text-decoration: none;
}
.search-container3 {
  flex: 0 0 auto;
  height: 100px;
  display: flex;
  align-items: center;
}
.search-pagination {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
}
.search-previous {
  display: flex;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
}
.search-icon10 {
  width: 24px;
  height: 24px;
  display: none;
}
.search-pages {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.search-primary {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.search-number-current {
  border-color: rgba(0, 0, 0, 0);
}
.search-text17 {
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.search-text18 {
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.search-text19 {
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.search-more {
  width: 17px;
  object-fit: cover;
}
.search-text20 {
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.search-next {
  display: flex;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
}
.search-icon12 {
  width: 24px;
  height: 24px;
  display: none;
}
.search-footer {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-950);
  border-width: 1px;
  flex-direction: column;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.search-footer1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: space-between;
}
.search-container4 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.search-text22 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.search-text23 {
  color: var(--dl-color-gray-black50);
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.search-text24 {
  color: var(--dl-color-gray-black50);
  margin-top: var(--dl-space-space-twounits);
}
.search-text25 {
  color: var(--dl-color-gray-black50);
  margin-top: 12px;
}
.search-links-container {
  display: flex;
  grid-gap: var(--dl-space-space-threeunits);
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.search-container5 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.search-text26 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
.search-text27 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.search-text28 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.search-text29 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.search-text30 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.search-text31 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.search-text32 {
  color: var(--dl-color-gray-black50);
}
.search-container6 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.search-text33 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
.search-text34 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.search-text35 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.search-text36 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.search-text37 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.search-text38 {
  color: var(--dl-color-gray-black50);
}
.search-container7 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.search-text39 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
.search-text40 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.search-navlink3 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.search-navlink4 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.search-text41 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
@media(max-width: 991px) {
  .search-container1 {
    display: none;
  }
  .search-left {
    display: none;
  }
  .search-right {
    display: none;
  }
  .search-icons {
    display: none;
  }
  .search-burger-menu {
    display: flex;
  }
  .search-icon {
    width: 24px;
    height: 24px;
    display: flex;
  }
  .search-logo-center1 {
    margin-left: 0px;
  }
  .search-speakers-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .search-footer1 {
    flex-direction: column-reverse;
  }
  .search-links-container {
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .search-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .search-main {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .search-speakers-container {
    grid-template-columns: 1fr 1fr;
  }
  .search-pagination {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .search-footer1 {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .search-links-container {
    margin-top: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .search-container {
    padding-top: 55px;
  }
  .search-header {
    padding: var(--dl-space-space-unit);
  }
  .search-mobile-menu {
    padding: 16px;
  }
  .search-speakers-container {
    grid-template-columns: 1fr;
  }
  .search-pagination {
    gap: var(--dl-space-space-halfunit);
  }
  .search-previous {
    padding: var(--dl-space-space-halfunit);
  }
  .search-icon10 {
    display: flex;
  }
  .search-text16 {
    display: none;
  }
  .search-number1 {
    display: none;
  }
  .search-next {
    padding: var(--dl-space-space-halfunit);
  }
  .search-text21 {
    display: none;
  }
  .search-icon12 {
    display: flex;
  }
  .search-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .search-links-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .search-container5 {
    margin-right: var(--dl-space-space-unit);
  }
  .search-container6 {
    margin-right: var(--dl-space-space-unit);
  }
}
